# Prevent directory listing
Options -Indexes

# Allow only image files
<FilesMatch "\.(jpg|jpeg|png|webp)$">
    Allow from all
</FilesMatch>

# Deny access to all other files
<FilesMatch "^.*$">
    Deny from all
</FilesMatch>
